/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* border box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* end border box fix */
/* ------------------Project style---------------------------------------------------------------------------------- */
/* wrapper */
#page-nav{
	background-color: #000000;
	position: sticky;
	width: 100vw;
	margin-bottom: 2vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

label[for="input-hamburger"]{
	display: inline-block;
	color: #ffffff;
	background: #a02620;
	font-style: normal;
	padding: .625rem;
	width: 10vw;
	text-align: center;
}
#input-hamburger{
display: none;
}
/* Menu Items */
	/* Toggle show/hide menu on checkbox click */

.input-hamburger:checked ~ .menu-links{
	display: flex;
}
.menu-links{
	display: none;
	width: 100vw;
	flex-direction: column;
}
/* End Toggle show/hide menu on checkbox click */
.menu-links a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 0.625rem;
	border-top: 1px solid #333333;
	background-color: black;
}
.menu-links a:last-child{
	border-bottom: 1px solid #333333;
}
.menu-links a:focus,
.menu-links a:hover,
.menu-links a:active{
	background-color: white;
	color: black;
}
/* End Menu Items */
/* on Small screens */
@media screen and (min-width: 750px){
	
	/* Hide Hamburger */
	label[for="input-hamburger"],
	#hamburger{
	display: none;
	}

	#page-nav{
		min-height: 3vh;
	}
	/* End Hide Hamburger */

	.menu-links{
		display: flex;
		flex-direction: row;
		color: #ffffff;
		font-style: normal;
		min-height: 4vh;
		
	}
	.menu-links a{
		display: inline-block;
		border-top: none;
		letter-spacing: .18vw;
		padding: 1.5rem;
	}
	
}
@media screen and (max-width: 330px){
	label[for="input-hamburger"]{
		background: none;
	}
}
/* end on Small screens */

.page-contents{
	padding: 0 10vw;
}
p{
	margin-top: .5vh;
	line-height: 1.2;
}
p:first-child{
	text-indent: 6vw;
}
/*End wrapper */
